<!doctype html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <head th:fragment="css">
        <meta charset="utf-8"/>

        <!-- App favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="https://i.ibb.co/HNT1c88/SISURAT.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://i.ibb.co/HNT1c88/SISURAT.png">

        <!-- plugin CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-jvectormap-1.2.2.css}"/>

        <!-- preloader CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/preloader.min.css}"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/icons.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/app.min.css}"/>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    </head>
</head>

<body>

<div th:fragment="navbarAdmin">
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <!-- LOGO -->
                    <div class="navbar-brand-box">

                        <a sec:authorize="hasRole('MAHASISWA')" th:href="@{/daftarSurat}" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="https://i.ibb.co/HNT1c88/SISURAT.png"  alt="SI SURAT" height="22">
                                </span>
                            <span class="logo-lg">
                                    <img src="https://i.ibb.co/kDn8L6Y/logo.png" alt="SI SURAT" height="20">
                                </span>
                        </a>

                        <a sec:authorize="hasRole('MAHASISWA')" th:href="@{/daftarSurat}" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="https://i.ibb.co/kDn8L6Y/logo.png" alt="SI SURAT" height="22">
                                </span>
                            <span class="logo-lg">
                                    <img src="https://i.ibb.co/HNT1c88/SISURAT.png" alt="SI SURAT" height="20">
                                </span>
                        </a>

                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/daftarSurat}" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="https://i.ibb.co/HNT1c88/SISURAT.png"  alt="SI SURAT" height="22">
                                </span>
                            <span class="logo-lg">
                                    <img src="https://i.ibb.co/kDn8L6Y/logo.png" alt="SI SURAT" height="20">
                                </span>
                        </a>

                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/daftarSurat}" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="https://i.ibb.co/kDn8L6Y/logo.png" alt="SI SURAT" height="22">
                                </span>
                            <span class="logo-lg">
                                    <img src="https://i.ibb.co/HNT1c88/SISURAT.png" alt="SI SURAT" height="20">
                                </span>
                        </a>

                        <a sec:authorize="hasRole('EKSEKUTIF')" th:href="@{/daftarSurat}" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="https://i.ibb.co/HNT1c88/SISURAT.png"  alt="SI SURAT" height="22">
                                </span>
                            <span class="logo-lg">
                                    <img src="https://i.ibb.co/kDn8L6Y/logo.png" alt="SI SURAT" height="20">
                                </span>
                        </a>

                        <a sec:authorize="hasRole('EKSEKUTIF')" th:href="@{/daftarSurat}" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="https://i.ibb.co/kDn8L6Y/logo.png" alt="SI SURAT" height="22">
                                </span>
                            <span class="logo-lg">
                                    <img src="https://i.ibb.co/HNT1c88/SISURAT.png" alt="SI SURAT" height="20">
                                </span>
                        </a>

                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>

                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item bg-soft-light border-start border-end" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                            <span class="d-none d-xl-inline-block ms-1 fw-medium" sec:authentication="name"></span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" th:href="@{/profile}"><i class="fa-solid fa-user-pen"></i><span class="align-middle"> Profil</span></a>
                            <a class="dropdown-item" th:href="@{/logouts}"><i class="fa-solid fa-arrow-right-from-bracket"></i><span class="align-middle"> Keluar</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title" data-key="t-menu">Menu</li>

                        <li sec:authorize="hasRole('MAHASISWA')">
                            <a th:href="@{/daftar-template-surat}">
                                <i class="fa-solid fa-plus"></i>
                                <span data-key="t-dashboard">Tambah Surat</span>
                            </a>
                        </li>

                        <li sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{/statistik}">
                                <i class="fa-solid fa-chart-pie"></i>
                                <span data-key="t-dashboard">Dashboard</span>
                            </a>
                        </li>

                        <li sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{/daftarSurat}">
                                <i class="fa-solid fa-house"></i>
                                <span data-key="t-dashboard">Beranda</span>
                            </a>
                        </li>

                        <li sec:authorize="hasRole('MAHASISWA')">
                            <a th:href="@{/daftarSurat}">
                                <i class="fa-solid fa-house"></i>
                                <span data-key="t-dashboard">Beranda</span>
                            </a>
                        </li>

                        <li sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{/user}">
                                <i class="fa-solid fa-user"></i>
                                <span data-key="t-dashboard">Pengguna</span>
                            </a>
                        </li>

                        <li sec:authorize="hasRole('EKSEKUTIF')">
                            <a th:href="@{/statistik}">
                                <i class="fa-solid fa-chart-pie"></i>
                                <span data-key="t-dashboard">Dashboard</span>
                            </a>
                        </li>

                        <li sec:authorize="hasRole('EKSEKUTIF')">
                            <a th:href="@{/daftarSurat}">
                                <i class="fa-solid fa-house"></i>
                                <span data-key="t-dashboard">Beranda</span>
                            </a>
                        </li>


                        <li sec:authorize="hasRole('ADMIN')">
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="fa-solid fa-envelope"></i>
                                <span data-key="t-apps">Surat</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li>
                                    <a th:href="@{/daftarSurat}">
                                        <span data-key="t-calendar">Daftar Surat Masuk</span>
                                    </a>
                                </li>

                                <li>
                                    <a th:href="@{/listtemplate}">
                                        <span data-key="t-chat">Daftar Template Surat</span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href = "https://drive.google.com/drive/folders/1HSIUGk_bszP2v4bPo4ujj09om9PzJ1NC?usp=sharing">
                                <i class="fa-brands fa-google-drive"></i>
                                <span data-key="t-dashboard">User Manual</span>
                            </a>
                        </li>

                    </ul>

                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

    </div>
    <!-- END layout-wrapper -->
</div>


<div th:fragment="rightSidebar">
    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center p-3">

                <h5 class="m-0 me-2">Theme Customizer</h5>

                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>

            <!-- Settings -->
            <hr class="m-0" />

            <div class="p-4">
                <h6 class="mb-3">Layout</h6>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout"
                           id="layout-vertical" value="vertical">
                    <label class="form-check-label" for="layout-vertical">Vertical</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout"
                           id="layout-horizontal" value="horizontal">
                    <label class="form-check-label" for="layout-horizontal">Horizontal</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Layout Mode</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-mode"
                           id="layout-mode-light" value="light">
                    <label class="form-check-label" for="layout-mode-light">Light</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-mode"
                           id="layout-mode-dark" value="dark">
                    <label class="form-check-label" for="layout-mode-dark">Dark</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Layout Width</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-width"
                           id="layout-width-fuild" value="fuild" onchange="document.body.setAttribute('data-layout-size', 'fluid')">
                    <label class="form-check-label" for="layout-width-fuild">Fluid</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-width"
                           id="layout-width-boxed" value="boxed" onchange="document.body.setAttribute('data-layout-size', 'boxed')">
                    <label class="form-check-label" for="layout-width-boxed">Boxed</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Layout Position</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-position"
                           id="layout-position-fixed" value="fixed" onchange="document.body.setAttribute('data-layout-scrollable', 'false')">
                    <label class="form-check-label" for="layout-position-fixed">Fixed</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-position"
                           id="layout-position-scrollable" value="scrollable" onchange="document.body.setAttribute('data-layout-scrollable', 'true')">
                    <label class="form-check-label" for="layout-position-scrollable">Scrollable</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Topbar Color</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="topbar-color"
                           id="topbar-color-light" value="light" onchange="document.body.setAttribute('data-topbar', 'light')">
                    <label class="form-check-label" for="topbar-color-light">Light</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="topbar-color"
                           id="topbar-color-dark" value="dark" onchange="document.body.setAttribute('data-topbar', 'dark')">
                    <label class="form-check-label" for="topbar-color-dark">Dark</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2 sidebar-setting">Sidebar Size</h6>

                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-size"
                           id="sidebar-size-default" value="default" onchange="document.body.setAttribute('data-sidebar-size', 'lg')">
                    <label class="form-check-label" for="sidebar-size-default">Default</label>
                </div>
                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-size"
                           id="sidebar-size-compact" value="compact" onchange="document.body.setAttribute('data-sidebar-size', 'md')">
                    <label class="form-check-label" for="sidebar-size-compact">Compact</label>
                </div>
                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-size"
                           id="sidebar-size-small" value="small" onchange="document.body.setAttribute('data-sidebar-size', 'sm')">
                    <label class="form-check-label" for="sidebar-size-small">Small (Icon View)</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2 sidebar-setting">Sidebar Color</h6>

                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-color"
                           id="sidebar-color-light" value="light" onchange="document.body.setAttribute('data-sidebar', 'light')">
                    <label class="form-check-label" for="sidebar-color-light">Light</label>
                </div>
                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-color"
                           id="sidebar-color-dark" value="dark" onchange="document.body.setAttribute('data-sidebar', 'dark')">
                    <label class="form-check-label" for="sidebar-color-dark">Dark</label>
                </div>
                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-color"
                           id="sidebar-color-brand" value="brand" onchange="document.body.setAttribute('data-sidebar', 'brand')">
                    <label class="form-check-label" for="sidebar-color-brand">Brand</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Direction</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-direction"
                           id="layout-direction-ltr" value="ltr">
                    <label class="form-check-label" for="layout-direction-ltr">LTR</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-direction"
                           id="layout-direction-rtl" value="rtl">
                    <label class="form-check-label" for="layout-direction-rtl">RTL</label>
                </div>

            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->
</div>

<!-- Right bar overlay-->

<div class="rightbar-overlay"></div>

<div th:fragment="js">
    <!-- JAVASCRIPT -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/metisMenu.min.js"></script>
    <script src="/static/js/simplebar.min.js"></script>
    <script src="/static/js/waves.min.js"></script>
    <script src="/static/js/feather.min.js"></script>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/metisMenu.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/simplebar.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/waves.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/feather.min.js}"></script>

    <!-- pace js -->
    <script src="/static/js/pace.min.js"></script>
    <script type="text/javascript" th:src="@{/js/pace.min.js}"></script>

    <!-- apexcharts -->
    <script src="/static/js/apexcharts.min.js"></script>
    <script type="text/javascript" th:src="@{/js/apexcharts.min.js}"></script>


    <!-- dashboard init -->
    <script src="/static/js/dashboard.init.js"></script>
    <script type="text/javascript" th:src="@{/js/dashboard.init.js}"></script>

    <!-- app js -->
    <script src="/static/js/app.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>

</div>

<footer th:fragment="footer" class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © SI SURAT
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Crafted with <i class="fa-solid fa-heart"></i> by Propensi C03</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>