.buttonGroup
{
    /*display: -webkit-box;*/
    /*-webkit-box-orient: horizontal;*/
    -webkit-box-pack:justify;
    justify-content: space-between;
    /*-webkit-box-sizing: border-box;*/

    margin-top:30px;
    margin-bottom:30px;

    font-size:15px;
    padding:0px;
    list-style:none;

    display:inline-block;
    border-radius:50px;
    position:relative;
}

.buttonGroup > li
{
    /*display: block;*/
    /*-webkit-box-flex: 1;*/
    /*border: solid 1px #9a9a99;*/
    /*border-left: none;*/
    /*-webkit-border-radius: 0px;*/
    /*text-align: center;*/
    /*background-image:*/
    /*        -webkit-gradient(linear, left top, left bottom,*/
    /*        from(#fbfbfb),*/
    /*        to(#bdbdbd));*/
    /*color: #6b6b6b;*/
    /*font-size: 16px;*/
    /*padding: 10px;*/

    text-decoration:none;
    color: #000000;
    padding:10px 20px;
    display:inline-block;
    position:relative;
    z-index:1;
    transition-duration:0.6s;
}

/*.buttonGroup > li:first-child*/
/*{*/
/*    border-left: solid 1px #9a9a99;*/
/*    -webkit-border-top-left-radius: 10px;*/
/*    -webkit-border-bottom-left-radius: 10px;*/
/*}*/

/*.buttonGroup > li:last-child*/
/*{*/
/*    -webkit-border-top-right-radius: 10px;*/
/*    -webkit-border-bottom-right-radius: 10px;*/
/*}*/

.buttonGroup > li.selected
{
    /*background-image:*/
    /*        -webkit-gradient(linear, left top, left bottom,*/
    /*        from(#2a55b1),*/
    /*        to(#6297f2));*/
    /*color: #fff;*/
    /*border-color: #193a7f;*/

    /*display:inline-block;*/
    /*position:absolute;*/
    /*left:0px;*/
    /*top:0px;*/
    z-index:1;
    border-radius:50px;
    transition-duration:0s;


    color: #ffffff;
    background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}