<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>

</head>
<body>
<div>Kepada <b th:text="${user.username}"></b></div>

<div> Saat ini status permintaan surat dengan jenis surat <b th:text="${surat.jenisSurat.nama}"></b> adalah <b th:text="${surat.status} == 3 ? 'DISETUJUI': 'DITOLAK'"  ></b></div>
<br>
<span>Regards,</span>
<br><br>
<span>surat.farmasi.ui.ac.id</span>
</body>
</html>