<!DOCTYPE html>
<html lang="en">
<head>
  <!-- ========== Meta Tags ========== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Dostart - Startup Landing Page">

  <!-- ========== Page Title ========== -->
  <title>SI SURAT</title>

  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js"></object>

  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<!-- Start Banner
    ============================================= -->
<div class="banner-area overflow-inherit transparent-nav text-xl content-double">
  <!-- Fixed Shape -->
  <div class="fixed-shape-right" style="background-image: url(https://i.ibb.co/Zmpz7YW/4.png);"></div>
  <!-- End Fixed Shape -->
  <div class="box-table">
    <div class="box-cell">
      <div class="container">
        <div class="row">
          <div class="double-items with-thumb">
            <!-- Banner Left Content -->
            <div class="info col-md-6">
              <div class="content inc-video">
                <h1><strong>FORBIDDEN</strong></h1>
                <p> Anda tidak memiliki akses. Sistem ini hanya bisa diakses oleh civitas Fakultas Farmasi UI.</p>
                <a th:href="@{/login-to-web}" class="btn btn-primary">Kembali</a>
              </div>
            </div>
            <!-- End Banner Left Content -->

            <!-- Start Banner Form -->
            <div class="thumb col-md-5 width-150 multi-thumb col-md-offset-1">
              <img src="https://i.ibb.co/j3wtwGN/6.png" alt="Thumb">
              <img class="helper" src="https://i.ibb.co/mNkYJFK/6-1.png" alt="Thumb">
              <img class="helper" src="https://i.ibb.co/L9D6HB1/6-2.png" alt="Thumb">
            </div>
            <!-- End Banner Form -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner -->

</body>
</html>