<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Request Surat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<style>

    .button-detail{
        background: #31368E;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        padding: 8px 16px;
        align-items: center;
        text-align: center;
        border: none;
    }
    .button-detail:hover{
        color: white;
    }

    .title-page{
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 98px;
    }

    .contianer-page-title{
        margin-top: 50px;
    }

    .title-detail-kosong{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #999999;
        margin-top: 24px;
    }

    .detail-kosong{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-block{
        display: block;
    }

    .button-ajukan{
        text-decoration: none;
        background: #31368E;
        padding: 10px 50px;
        color: white;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
    }

    .button-ajukan:hover{
        text-decoration: none;
        color: white;
    }

    #aksi{
        text-align: center;
    }

    td button{
        align-items: center;
    }

    button a{
        color: white;
    }

    button a:hover{
        color: white;
    }

</style>

<body>

<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="contianer-page-title">
                            <h1 class="title-page">Daftar Surat</h1>

                        </div>
                        <div th:if="${listRequest.size != 0}">
                            <a th:href="@{/daftar-template-surat}"class="btn btn-primary">Buat Permintaan Surat</a>
                            <br> <br>
                            <div class="container-tables">
                                <table class="table">
                                    <thead class="table-head">
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Jenis Surat</th>
                                        <th scope="col">Tanggal Pengajuan</th>
                                        <th scope="col">Bentuk Surat</th>
                                        <th scope="col">Status Surat</th>
                                        <th scope="col" id="aksi">Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="surat, iterationStatus : ${listRequest}">
                                        <td class="align-middle" th:text="${iterationStatus.count}"></td>
                                        <td class="align-middle" th:text="${surat.jenisSurat.nama}"></td>

                                        <td class="align-middle" th:text="${#temporals.format(surat.tanggalPembuatan, 'dd-MM-yyyy')}"></td>
                                        <td class="align-middle" th:text="${surat.bentukSurat == 0} ? 'Softcopy' : 'Hardcopy'"></td>
                                        <td class="align-middle"th:if="${surat.status == 0}">Diajukan</td>
                                        <td class="align-middle" th:if="${surat.status == 1}">Menunggu Persetujuan</td>
                                        <td class="align-middle" th:if="${surat.status == 2}">Disetujui</td>
                                        <td class="align-middle" th:if="${surat.status == 3}">Selesai</td>
                                        <td class="align-middle" th:if="${surat.status == 4}">Ditolak</td>
                                        <td class="align-middle text-center">
                                            <a class="btn btn-primary" style="margin-right: 4px" th:href="@{/detailSurat/}+${surat.idPermintaanSurat}">Detail Surat</a>
                                            <a th:if="${surat.status == 0 OR surat.status == 4}" class="btn btn-outline-primary" th:href="@{/updateSurat/}+${surat.idPermintaanSurat}">Ubah Permintaan</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div th:unless="${listRequest.size != 0}" class="col detail-kosong">
                            <div class="img-block">
                                <img src="images/folder-images.png" alt="folder-img">
                            </div>
                            <h1 class="title-detail-kosong">Anda belum melakukan membuat permintaan surat apapun</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/navbar :: js"></div>
<footer  th:replace="fragments/navbar :: footer"></footer>
</body>
</html>