<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title> User </title>
</head>


<body>
<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div th:replace="fragments/fragment :: rightSidebar"></div>

<div class="container">
  <br><br>
  <h1 class="title">Request Surat</h1>

  <br>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">Jenis</th>
      <th scope="col">Keperluan</th>
      <th scope="col">Nama Pengaju</th>
      <th scope="col">Bahasa Surat</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="surat, iterationStatus : ${listRequest}">
      <td th:text="${surat.jenisSurat}"></td>
      <td th:text="${surat.bentukSurat}"></td>
      <td th:text="${surat.mahasiswa}"></td>
      <td th:text="${surat.bahasaSurat}"></td>


    </tr>
    </tbody>
  </table>
</div>

<div th:replace="fragments/fragment :: js"></div>
<footer  th:replace="fragments/fragment :: footer"></footer>

</body>
</html>