<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title> Detail Surat </title>

  <object th:include="fragments/fragment :: css" th:remove="tag"></object>


</head>

<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div th:replace="fragments/fragment :: rightSidebar"></div>


<body>

<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <a type="button" onclick="history.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
      <br><br>

      <div class="container">

        <h1 class="title">Detail Surat</h1>
        <br>
        <table class="table">
          <tr>
            <th scope="col">Nama Pengaju</th>
            <th scope="col">Jenis Surat</th>
          </tr>
          <tr>
            <td th:text="${surat.mahasiswa.name}"></td>
            <td th:text="${surat.jenisSurat.nama}"></td>
          </tr>
          <tr>
            <th scope="col">NPM Pengaju</th>
            <th scope="col">Waktu Pengajuan</th>
          </tr>
          <tr>
            <td th:text="${surat.mahasiswa.npm}"></td>
            <td  th:text="${#temporals.format(surat.tanggalPembuatan, 'dd-MM-yyyy')}"></td>
          </tr>
          <tr>
            <th scope="col">Bahasa Surat</th>
            <th scope="col">Bentuk Surat</th>
          </tr>
          <tr>
            <td th:text="${surat.bahasaSurat == 0} ? 'Bahasa Indonesia' : 'Bahasa Inggris' ">></td>
            <td th:text="${surat.bentukSurat == 0} ? 'Softcopy' : 'Hardcopy' "></td>
          </tr>

          <tr>
            <th scope="col">Keperluan</th>
            <th scope="col" th:unless="*{textFields == null}" th:text="*{textFields[0].name}"></th>
          </tr>
          <tr>
            <td th:text="${surat.keperluan}"></td>
            <td th:unless="*{textFields.size() == 0}" th:text="${textFields[0].value}"></td>
          </tr>

          <th:block th:unless="*{pair.size() == 0}">
            <th:block th:each="tableIdx : ${#numbers.sequence(0, pair.size() - 1)}">
              <tr>
                <th scope="col"  th:each="listField, itemStat : *{pair[__${tableIdx}__]}" th:text="${listField.name}">
                </th>
              </tr>

              <tr>
                <td th:each="listField, itemStat : *{pair[__${tableIdx}__]}" th:text="${listField.value}">
                </td>
              </tr>

            </th:block>
          </th:block>
        </table>

        <th:block th:unless="*{tables.size() == 0}">
          <th:block th:each="tableIdx : ${#numbers.sequence(0, listCount - 1)}">
            <!--          <th:block th:each="column, iterStat : *{tables[__${tableIdx}__]}">-->
            <table class="table table-bordered">
              <thead>
              <tr>
                <th th:each="listField, itemStat : *{tables[__${tableIdx}__]}" th:text="${listField.name}">
                </th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="field, iterationStatus : *{tables[__${tableIdx}__][0].values}">

                <td th:each="column, iterStat : *{tables[__${tableIdx}__]}" th:text="*{tables[__${tableIdx}__][__${iterStat.index}__].values[__${iterationStatus.index}__]}">
                </td>
              </tr>
              </tbody>
            </table>
            <!--        </th:block>-->
          </th:block>
        </th:block>


        <div class="align-items-center">
          <div th:if="${surat.status} == 1">
            <a th:href="@{/detailSurat/} + ${surat.idPermintaanSurat} + @{/setujui}" class="btn btn-primary">Setujui</a>
            <a th:href="@{/detailSurat/} + ${surat.idPermintaanSurat} + @{/alasanPenolakan}" class="btn btn-danger">Tolak</a>
            <br><br>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div th:replace="fragments/fragment :: js"></div>
<footer  th:replace="fragments/fragment :: footer"></footer>

</body>
</html>
