<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Detail Surat </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>


<body>
<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div th:replace="fragments/fragment :: rightSidebar"></div>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="container">
                <a type="button" th:href="@{/daftarSurat}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

                <h1 class="title">Detail Surat</h1>

                <br>
                <table class="table">
                    <tr>
                        <th scope="col">Nama Pengaju</th>
                        <th scope="col">Jenis Surat</th>
                    </tr>
                    <tr>
                        <td th:text="${surat.mahasiswa.name}"></td>
                        <td th:text="${surat.jenisSurat.nama}"></td>
                    </tr>
                    <tr>
                        <th scope="col">NPM Pengaju</th>
                        <th scope="col">Waktu Pengajuan</th>
                    </tr>
                    <tr>
                        <td th:text="${surat.mahasiswa.npm}"></td>
                        <td  th:text="${#temporals.format(surat.tanggalPembuatan, 'dd-MM-yyyy')}"></td>
                    </tr>
                    <tr>
                        <th scope="col">Bahasa Surat</th>
                        <th scope="col">Bentuk Surat</th>
                    </tr>
                    <tr>
                        <td th:text="${surat.bahasaSurat == 0} ? 'Bahasa Indonesia' : 'Bahasa Inggris' ">></td>
                        <td th:text="${surat.bentukSurat == 0} ? 'Softcopy' : 'Hardcopy' "></td>
                    </tr>
                    <tr>
                        <th scope="col">Keperluan</th>
                        <th scope="col">Status</th>
                    </tr>
                    <tr>
                        <td th:text="${surat.keperluan}"></td>
                        <td th:if="${surat.status == 0}">Diajukan</td>
                        <td th:if="${surat.status == 1}">Menunggu Persetujuan</td>
                        <td th:if="${surat.status == 2}">Disetujui</td>
                        <td th:if="${surat.status == 3}">Selesai</td>
                        <td th:if="${surat.status == 4}">Ditolak</td>
                    </tr>
                    <tr th:if="${surat.status} == 4">
                        <th colspan="2" scope="col">Alasan Penolakan</th>
                    </tr>
                    <tr th:if="${surat.status} == 4">
                        <td colspan="2" th:text="${surat.alasanPenolakan}"></td>
                    </tr>

                    <th:block th:unless="*{pairField.size() == 0}">
                        <th:block th:each="tableIdx : ${#numbers.sequence(0, pairField.size() - 1)}">
                            <tr>
                                <th scope="col"  th:each="listField, itemStat : *{pairField[__${tableIdx}__]}" th:text="${listField.name}">
                                </th>
                            </tr>

                            <tr>
                                <td th:each="listField, itemStat : *{pairField[__${tableIdx}__]}" th:text="${listField.value}">
                                </td>
                            </tr>

                        </th:block>
                    </th:block>
                </table>

                <th:block th:unless="*{tables.size() == 0}">
                    <th:block th:each="tableIdx : ${#numbers.sequence(0, listCount - 1)}">
                       
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th th:each="listField, itemStat : *{tables[__${tableIdx}__]}" th:text="${listField.name}">
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="field, iterationStatus : *{tables[__${tableIdx}__][0].values}">

                                <td th:each="column, iterStat : *{tables[__${tableIdx}__]}" th:text="*{tables[__${tableIdx}__][__${iterStat.index}__].values[__${iterationStatus.index}__]}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        
                    </th:block>
                </th:block>


                <!–– Diajukan ––>
                <br><br>
                <div th:if="${surat.status} == 0">

                    <div>
                        <a th:href="@{/detailSurat/delete/} + ${surat.idPermintaanSurat}" class="btn btn-outline-danger">Hapus Permintaan Surat</a>
                    </div>
                    <br><br>

                </div>

                <!–– Menunggu Persetujuan ––>
                <div th:if="${surat.status} == 1">
                    <div>
                        <a class="btn btn-primary" th:href="@{/permintaanSurat/update/} + ${surat.idPermintaanSurat}">Ubah</a>
                    </div>
                </div>

                <!–– Menunggu Persetujuan ––>
                <div th:if="${surat.status} == 2">
                    <div>
                    </div>
                </div>

                <!–– Selesai ––>
                <div th:if="${surat.status} == 3">

                    <div id="testmodal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="align-middle text-center">Riwayat Status Surat</h5>
                                </div>

                                <div class="modal-body">
                                    <div>
                                        <table class="table">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col" data-field="waktu" data-sortable="true" data-sorter="dateSorter">Waktu</th>
                                                <th scope="col">Pengubah</th>
                                                <th scope="col">Aktivitas</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                                <tr th:each="riwayat, iterationStatus : ${listRiwayat}">
                                                    <td th:text="${#temporals.format(riwayat.tanggalWaktu, 'dd-MM-yyyy HH:mm')}"></td>
                                                    <td th:text="${riwayat.pengubah}"></td>
                                                    <td th:if="${riwayat.status == 0}"> Surat Diajukan </td>
                                                    <td th:if="${riwayat.status == 1}"> Surat Menunggu Persetujuan </td>
                                                    <td th:if="${riwayat.status == 2}"> Surat Disetujui </td>
                                                    <td th:if="${riwayat.status == 3}"> Surat Selesai </td>
                                                    <td th:if="${riwayat.status == 4}"> Surat Ditolak </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="element" class="btn btn-outline-primary show-modal">Lihat Riwayat Surat</div>

                    <a th:href="@{/permintaanSurat/download/} + ${surat.idPermintaanSurat}" class="btn btn-primary"> Unduh </a>

                    <br><br><br>
                </div>

                <!–– Ditolak ––>
                <div th:if="${surat.status} == 4">
                    <div>
                        <a th:href="@{/detailSurat/delete/} + ${surat.idPermintaanSurat}" class="btn btn-outline-danger">Hapus Permintaan Surat</a>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/fragment :: js"></div>
<footer th:replace="fragments/fragment :: footer"></footer>

<script>

    function dateSorter(a, b) {
        if (new Date(a) < new Date(b)) return 1;
        if (new Date(a) > new Date(b)) return -1;
        return 0;
    }

</script>

<script>
    $(document).ready(function(){
        var show_btn=$('.show-modal');
        var show_btn=$('.show-modal');
//$("#testmodal").modal('show');

        show_btn.click(function(){
            $("#testmodal").modal('show');
        })
    });

    $(function() {
        $('#element').on('click', function( e ) {
            Custombox.open({
                target: '#testmodal-1',
                effect: 'fadein'
            });
            e.preventDefault();
        });
    });

</script>

</body>
</html>
