<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Template Surat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>

</head>

<style>

    .surat-wrapper{
        display: flex;
        flex-direction: row;
    }

    .margin-top{
        margin-top: 30px;
    }

    .wrapper-surat-nama{
        width: 50%;
    }

    .wrapper-button-update{
        width: 10%;
    }

    .wrapper-button-hapus{
        width: 10%;
    }

    .button-tambah-template{
        text-decoration: none;
        background: #31368E;
        padding: 10px 50px;
        color: white;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;
    }

    .button-tambah-template:hover{
        text-decoration: none;
        color: white;
    }

    .spacing-surat{
        margin-top: 50px;
    }

    .button-update{
        text-decoration: none;
        background: #EAEBFF;
        padding: 10px 25px;
        color: #31368E;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
        border: none;
    }

    .button-hapus{
        text-decoration: none;
        background: #31368E;
        padding: 10px 25px;
        color: white;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
        border: none;
    }

    .button-update:hover{
        text-decoration: none;
    }

    .button-hapus:hover{
        text-decoration: none;
    }

    .title-template{
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: black;
        font-size: 18px;
        font-weight:400;
    }

    .wrapper-surat-nama{
        position: relative;
    }

    .modal-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modal-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
</style>

<body>
<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div th:replace="fragments/fragment :: rightSidebar"></div>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <a type="button" onclick="history.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="title-container">
                            <h1 class="title">Daftar Template Surat</h1>
                        </div>
                        <div class="margin-top"></div>
                        <div class="button-tambah-template-wrapper">
                            <a class="btn btn-outline-primary" th:href="@{/tambahJenisSurat}">
                                + Tambah Template
                            </a>
                        </div>

                        <div class="margin-top"></div>

                        <div class="container-list-template-surat">
                            <div class="template-surat" th:each="templateSurat, iterationStatus : ${listTemplate}">
                                <div class="surat-wrapper">
                                    <div class="wrapper-surat-nama">
                                        <h3 th:text="${templateSurat.nama}" class="title-template"></h3>
                                    </div>

                                    <div class="wrapper-button-update" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                        <a class="btn btn-primary" type="button" th:href="@{/updateJenisSurat/} + ${templateSurat.id}">
                                            Perbarui
                                        </a>
                                    </div>

                                    <div>
                                        <a class ="btn btn-danger btn-delete" th:href="@{/jenisSurat/delete/} + ${templateSurat.id}">Hapus</a>
                                    </div>


                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="">
                                                        <h3>Apakah Anda Yakin ?</h3>
                                                    </div>

                                                    <div class="">
                                                        <h6>Template yang dihapus akan hilang dari list template surat</h6>
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                                    <a type="button" id="btnDeleteYes" class="btn btn-danger">Hapus </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="spacing-surat"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>
    $('.btn-delete').on('click', function (e) {
        e.preventDefault();
        var href =$(this).attr('href');
        $('#exampleModal #btnDeleteYes').attr('href', href);
        $('#exampleModal').modal();
    });
</script>

<div th:replace="fragments/navbar :: js"></div>
<footer  th:replace="fragments/navbar :: footer"></footer>

</body>
</html>