<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Pengguna</title>
    <meta charset="UTF-8">

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<style>
</style>
<body>

<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div th:replace="fragments/fragment :: rightSidebar"></div>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="container">
                <h1 class="title">Daftar Pengguna</h1>

                <br>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Nama</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Peran</th>
                        <th scope="col">Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user, iterationStatus : ${listUser}">
                        <td th:text="${user.name}"></td>
                        <td  th:text="${user.username}"></td>
                        <td  th:text="${user.emailUI}"></td>
                        <td  th:text="${user.role.namaRole}"></td>
                        <td>
                            <div class="align-items-center">
                                <a th:href="@{/user/}+${user.username}" class="btn btn-primary">Ubah</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragment :: js"></div>
<footer  th:replace="fragments/fragment :: footer"></footer>

</body>
</html>