<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title> Detail Surat </title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>


<body>
<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div th:replace="fragments/fragment :: rightSidebar"></div>

<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <a type="button" onclick="history.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
      <br><br>

      <h1 class="title">Detail Surat</h1>

      <table class="table">
        <tr>
          <th scope="col">Nama Pengaju</th>
          <th scope="col">Jenis Surat</th>
        </tr>
        <tr>
          <td th:text="${surat.mahasiswa.name}"></td>
          <td th:text="${surat.jenisSurat.nama}"></td>
        </tr>
        <tr>
          <th scope="col">NPM Pengaju</th>
          <th scope="col">Waktu Pengajuan</th>
        </tr>
        <tr>
          <td th:text="${surat.mahasiswa.npm}"></td>
          <td  th:text="${#temporals.format(surat.tanggalPembuatan, 'dd-MM-yyyy')}"></td>
        </tr>
        <tr>
          <th scope="col">Bahasa Surat</th>
          <th scope="col">Bentuk Surat</th>
        </tr>
        <tr>
          <td th:text="${surat.bahasaSurat == 0} ? 'Bahasa Indonesia' : 'Bahasa Inggris' ">></td>
          <td th:text="${surat.bentukSurat == 0} ? 'Softcopy' : 'Hardcopy' "></td>
        </tr>

        <tr>
          <th scope="col">Keperluan</th>
          <th scope="col" th:unless="*{textFields.size() == 0}" th:text="*{textFields[0].name}"></th>
        </tr>
        <tr>
          <td th:text="${surat.keperluan}"></td>
          <td th:unless="*{textFields.size() == 0}" th:text="${textFields[0].value}"></td>
        </tr>

        <th:block th:unless="*{pair.size() == 0}">
          <th:block th:each="tableIdx : ${#numbers.sequence(0, pair.size() - 1)}">
            <tr>
              <th scope="col"  th:each="listField, itemStat : *{pair[__${tableIdx}__]}" th:text="${listField.name}">
              </th>
            </tr>

            <tr>
              <td th:each="listField, itemStat : *{pair[__${tableIdx}__]}" th:text="${listField.value}">
              </td>
            </tr>

          </th:block>
        </th:block>
      </table>

      <th:block th:unless="*{tables.size() == 0}">
        <th:block th:each="tableIdx : ${#numbers.sequence(0, listCount - 1)}">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th th:each="listField, itemStat : *{tables[__${tableIdx}__]}" th:text="${listField.name}">
              </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="field, iterationStatus : *{tables[__${tableIdx}__][0].values}">

              <td th:each="column, iterStat : *{tables[__${tableIdx}__]}" th:text="*{tables[__${tableIdx}__][__${iterStat.index}__].values[__${iterationStatus.index}__]}">
              </td>
            </tr>
            </tbody>
          </table>
      </th:block>
      </th:block>



      <table class="table"  th:if="${surat.status} == 1">
        <thead class="thead-light">
        <tr>
          <th scope="col">Diteruskan kepada</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td th:text="${eksekutifAkhir.name}"></td>
        </tr>
        </tbody>
      </table>

      <br><br>

      <div class="align-items-center">
        <div th:if="${surat.status} == 0 or ${surat.status} == 2">
          <div class="field">Teruskan Ke ...</div>

          <form th:object="${toEksekutif}"  th:action="@{/detailSurat/} + ${surat.idPermintaanSurat} + @{/teruskan}"  method = "POST">
            <select class="form-control" th:field="*{idEksekutif}">
              <option value="none">--Pilih Eksekutif--</option>
              <option th:each="eksekutif : ${listEksekutif}"
                      th:value="${eksekutif.id}"
                      th:text="${eksekutif.name}">
              </option>
            </select>
            <br><br>

            <div>
              <p th:if="${surat.file != null}" th:text="'File: ' + ${surat.file.nama}"></p>
              <a th:if="${surat.bentukSurat == 0}" th:href="@{/upload/file/} + ${surat.idPermintaanSurat}" class="btn btn-outline-primary" >Unggah Surat </a>
              <a th:if="${surat.file != null}" th:href="@{/permintaanSurat/download/} + ${surat.idPermintaanSurat}" class="btn btn-primary">Unduh Surat</a>
              <br><br>
            </div>

          <div>
            <a th:if="${surat.file != null or surat.bentukSurat == 1}" th:href="@{/detailSurat/} + ${surat.idPermintaanSurat} + @{/selesai}" class="btn btn-primary">Selesai</a>
            <a th:unless="${surat.file != null}" th:href="@{/detailSurat/} + ${surat.idPermintaanSurat} + @{/alasanPenolakan}" class="btn btn-outline-danger">Tolak</a>
            <button type="submit" class="btn btn-primary" >Setujui dan Teruskan</button>
            <br><br>
          </div>

          </form>
            </div>
          </div>
        </div>
      </div>

      <!–– Ditolak ––>

    </div>
  </div>
</div>
</div>


<div th:replace="fragments/fragment :: js"></div>
<footer th:replace="fragments/fragment :: footer"></footer>

</body>
</html>
